/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('Images/background-image.jpg'); /* Background image URL */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Main container to center everything */
.container {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

/* Static title container */
.static-title-container {
    z-index: 2; /* Ensure it's above typing effect */
}

/* Static title */
.static-title {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 20px; /* Space between title and typing effect */
}

/* Typing effect container */
.typing-effect-container {
    z-index: 1;
    display: inline-block; /* Ensures text is displayed correctly */
    position: relative;
    margin-top: 20px; /* Adds some spacing below the static title */
}

/* Typing effect styling */
#typing-text {
    font-size: 1.2em;
    font-family: 'Fira Code', monospace; /* Monospace font for the typing effect */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Ensures text is hidden while typing */
    display: inline-block;
    border-right: 3px solid white; /* Simulating typing cursor */
    padding-right: 5px;
    visibility: visible; /* Make sure it's visible */
}

@media (max-width: 768px) {
    #typing-text {
        font-size: 1em; /* Slightly smaller font size for tablets */
    }
}
